workspace "chat" {
    open-on-output "DP-6"
}

window-rule {
    match app-id="feishin"
    match app-id="discord"
    match app-id="signal"
    match app-id="solidtime"

    open-on-workspace "chat"
}
